@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
html {
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: 0.2s;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", "Sans Serif";
  color: #20242D;
  background-color: #eeeeee;
  background-image: linear-gradient(#ffffff, #eeeeee);
}

.clearLink:link,
.clearLink:visited {
  color: inherit;
  text-decoration: none;
}

@keyframes fadeUp {
  from {
    transform: translatey(100%);
    opacity: 0;
  }
  to {
    transform: translatey(0);
    opacity: 1;
  }
}
.top {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  animation: fadeUp 2s;
}
@media screen and (max-width: 1024px) {
  .header {
    grid-template-columns: 1fr;
  }
}
.header__left {
  width: 70%;
  align-self: center;
  justify-self: center;
}
.header__left__title {
  font-size: 4rem;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 2rem;
}
.header__left__title__name {
  color: #0089cb;
}
.header__left__content {
  font-weight: 300;
  font-size: 1.2rem;
}
.header__right {
  width: 100%;
  padding: 2rem;
}
@media screen and (max-width: 1024px) {
  .header__right {
    width: 150%;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.1;
  }
}

.intership {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .intership {
    height: auto;
  }
}
.intership__title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.intership__title--blue {
  color: #0089CB;
}
.intership__subtitle {
  font-size: 2rem;
  margin: 1rem 0;
}
.intership__description {
  font-size: 1.2rem;
  text-align: justify;
  width: 70%;
}
@media screen and (max-width: 1024px) {
  .intership__description {
    width: 90%;
  }
}
.intership__steps {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  align-items: start;
}
@media screen and (max-width: 1024px) {
  .intership__steps {
    display: flex;
    flex-direction: column;
  }
}
.intership__steps__step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .intership__steps__step {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 10px;
  }
}
.intership__steps__step__title {
  font-size: 1.4rem;
  font-weight: bold;
}
.intership__steps__step__time {
  color: #0089CB;
}
.intership__steps__step__description {
  text-align: justify;
  margin-top: 0.5rem;
}

.main {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width: 1024px) {
  .main {
    grid-template-rows: repeat(3, max-content);
  }
}
.main__header {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .main__header {
    grid-template-columns: 1fr;
  }
}
.main__header__left {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__header__left svg {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .main__header__left {
    display: none;
  }
}
.main__header__right {
  color: white;
  width: 100%;
  height: 100%;
  padding: 4rem;
  background-color: #0089CB;
  background-color: #0089cb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ffffff' fill-opacity='0.04' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .main__header__right {
    text-align: center;
  }
}
.main__header__right__title {
  font-size: 3rem;
  line-height: 100%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  .main__header__right__title {
    font-size: 2.5rem;
  }
}
.main__header__right__content {
  font-weight: 100;
}
.main__header__right__btn:link, .main__header__right__btn:visited {
  color: #0089CB;
  font-weight: bold;
  width: 100%;
  margin: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}
.main__sponsors {
  display: grid;
  grid-template-columns: 1fr 30%;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .main__sponsors {
    grid-template-columns: 1fr;
  }
}
.main__sponsors__left {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main__sponsors__right {
  width: 100%;
  padding: 2rem;
}
.main__sponsors__card {
  width: 250px;
  height: 100px;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(128, 128, 128, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__sponsors__card img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.main__sponsors__card:hover {
  transform: translatey(-5px);
}
.main__contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main__contact__ico {
  fill: white;
}
.main__contact__title {
  font-size: 4rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1024px) {
  .main__contact__title {
    font-size: 2rem;
  }
}
.main__contact__btn:link, .main__contact__btn:visited {
  color: white;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 1rem 10rem;
  background-color: #0089CB;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__contact__btn:link svg, .main__contact__btn:visited svg {
  margin-right: 1rem;
}
.main__contact__btn:link:hover, .main__contact__btn:visited:hover {
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.2);
}
.main__contact small {
  font-size: 0.8rem;
  color: #555;
}
.main__contact__svg {
  width: 400px;
  position: absolute;
  bottom: -10%;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .main__contact__svg {
    width: 250px;
  }
}
.main .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.main__us {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__us__title {
  font-size: 4rem;
  font-weight: bold;
  margin: 5rem 0;
}
@media screen and (max-width: 1024px) {
  .main__us__title {
    text-align: center;
    font-size: 3rem;
  }
}
.main__us__card {
  max-width: 18%;
  min-width: 250px;
  height: 400px;
  margin: 2rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(128, 128, 128, 0.3);
  transition: 0.2s;
}
.main__us__card:hover {
  transform: translateY(-5px);
}
.main__us__card__img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}
.main__us__card__bottom {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__us__card__bottom__name {
  font-size: 2rem;
  font-weight: bold;
  color: #20242D;
  margin-bottom: 0.5rem;
}
.main__us__card__bottom__position {
  font-size: 1rem;
  font-weight: 100;
  color: grey;
  margin-bottom: 1rem;
}
.main__us__card__bottom__social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main__us__card__bottom__social svg {
  fill: #20242D;
  transition: none;
}
.main__us__card__bottom__social svg:hover {
  fill: #434c5e;
}

.footer {
  width: 100%;
  height: 20vh;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer > small {
  color: #555;
}

.disabled svg {
  fill: grey;
}
.disabled svg:hover {
  fill: grey;
}

.nav {
  width: 100%;
  padding: 2rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__left {
  width: 150px;
  height: 45px;
}
@media screen and (max-width: 1024px) {
  .nav__right {
    display: none;
  }
}

.menu {
  list-style: none;
  display: flex;
}
.menu__item {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.menu__item--disabled {
  color: #999;
  cursor: not-allowed;
}
.menu__item--disabled:hover {
  background-color: transparent;
}
.menu__item--available:hover {
  color: white;
  background-color: #28e0a6;
}

/*# sourceMappingURL=main.css.map */
