section#header.b-blackRussian
    header 
        .header__logo
            img(src="./assets/img/Logo.svg", alt="")
                    //- ___Navigation___
        nav
            .nav__desktop
                a.text-wildWatermelon(href="#inicio") Inicio
                a(href="#internship") Internship
                a(href="#partners") Partners
                a(href="#nosotros") Nosotros
                a.button.button--text(href="#contact") Contacto

            .nav__mobile
                .nav__rigth
                    .nav__icon 
                    span 
                    span
                    span
                .overlay
                    .overlay__content
                        a.text-wildWatermelon(href="#inicio") Inicio
                        a(href="#internship") Internship
                        a(href="#partners") Partners
                        a(href="#nosotros") Nosotros
                        a.button.button--text(href="#contact") Contacto