section#header.b-blackRussian
    header 
        .header__logo
            img(src="./assets/img/Logo.svg", alt="Workshop")
                    //- ___Navigation___
        
        .nav__desktop
            a.text-wildWatermelon(href="#inicio") Inicio
            a(href="#internship") Internship
            a(href="#partners") Partners
            a(href="#nosotros") Nosotros
            a.button.button--text(href="#contact") Contacto

        .nav__mobile
            .nav__rigth
                img(src="./assets/img/Burguer.svg", alt="Menu/Navegación")
            .overlay
                .overlay__content
                    a.text-wildWatermelon(href="#inicio") Inicio
                    a(href="#internship") Internship
                    a(href=".partners") Partners
                    a(href="#nosotros") Nosotros
                    a.button.button--text(href=".contact") Contacto