//- includes/head.pug
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //change url's on pull to workshop's repo https://heyworkshop.github.io/Site/
        meta(property="og:url" content="https://antonio-cituk.github.io/Site/")
        meta(property="og:type" content="website")
        meta(property="og:title" content="Workshop!")
        meta(property="og:description" content="Somos una organización centrada en crear conexiones entre personas y oportunidades de crecimiento académico y profesional.")
        meta(property="og:image" content="https://antonio-cituk.github.io/Site/assets/img/crawling/cover.png")
        title Workshop! ✨💜
        link(rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png")
        link(rel="manifest" href="manifest.webmanifest")
        link(rel="stylesheet", href="assets/css/main.css")
        link(rel="stylesheet", href="assets/css/splide-core.min.css")
    body 
