section#internship.b-blackRussian
    img(src="./assets/img/Sally-22.png")
    div.text
        h1.text-royalBlue Internship.
        p.text-roseWhite Es un programa organizado por Workshop que toma lugar a lo largo del año. La principal meta del programa es detectar estudiantes con 
            <span class="text-wildWatermelon">potencial</span> y vincularlos en la industria del <span class="text-royalBlue ">software</span>.
        
        
    