section#main.b-blackRussian
    main.main
        .main__left
            h1.main__title Somos <span class="text-wildWatermelon">Workshop</span>.
            p.main__message Somos una <span class="text-wildWatermelon"> organización</span> centrada en crear conexiones entre personas y <span class="text-royalBlue ">oportunidades</span> de crecimiento académico y profesional. 
            a.button--text(href="#") ¡Conocenos!
            img(class="transparent__Sally" src="./assets/img/Sally.svg", alt="Sally con bandera")
        img(class="solid__Sally" src="./assets/img/Sally.svg", alt="")
