//- includes/partners.pug
mixin card(href,src,alt)
    a(href=href).bg-darkCharcoal.partners__card&attributes(attributes)
        img(src=src, alt=alt).card__image

section.partners.bg-royalBlue#partners
    .partners__container
        h2.font-bold Nuestros Partners
        .partners__grid

            +card("https://gleo.mx/", "assets/img/partners/Gleo.svg", "Gleo")
            +card("https://www.accenture.com/mx-es", "assets/img/partners/Accenture.svg", "Accenture")
            +card("https://www.encora.com/es/", "assets/img/partners/Encora.svg", "Encora").partners__card--lg
            +card("https://trailblazercommunitygroups.com/salesforce-admin-group-monterrey-mexico/", "assets/img/partners/Salesforce.svg", "Salesforce")
            +card("https://www.okani.care/", "assets/img/partners/Okani.svg", "Okani")
            +card("https://www.coati.mx/", "assets/img/partners/Coati.svg", "Coati")
            +card("https://www.walook.com.mx/", "assets/img/partners/Walook.svg", "Walook")
            +card("https://uady.mx/#/home", "assets/img/partners/Uady.svg", "Uady")
            +card("https://www.upy.edu.mx/", "assets/img/partners/Upy.svg", "UPY")
            +card("https://www.bancobase.com/", "assets/img/partners/BancoBase.svg", "Banco Base").partners__card--lg
            +card("https://metaphorce.forteinnovation.mx/", "assets/img/partners/Metaphorce.svg", "Metaphorce")
            +card("https://www.techmahindra.com/en-in/?f=1350313506", "assets/img/partners/TechMahindra.svg", "Tech mahindra")
            +card("https://www.womenwhocode.com/merida", "assets/img/partners/WomanWhoCode.svg", "Women who code")
            +card("https://websitescubicode.mx/cubicodemx/", "assets/img/partners/Cubicode.svg", "Cubicode")
            +card("http://dealergeek.com/web/about.php", "assets/img/partners/DealerGeek.svg", "Dealergeek")
            +card("https://bisontechconsulting.com/", "assets/img/partners/Bisontech.svg", "Bisontech")