@import '../abstract/variables';
@import '../abstract/media-queries';

section.contact {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
    color: $offwhite;
  }
  .first {
    color: $royalBlue;
  }
  .second {
    color: $wildWatermelon;
  }
  .message {
    font-size: 1.25rem;
    padding-top: 1rem;
  }
  .subtext {
    padding-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: auto;
    padding-bottom: 1.5rem;
  }

  li {
    margin-top: 1rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  a {
    -webkit-tap-highlight-color: transparent;
    background: rgba($wildWatermelon, 0.25);
    border-radius: 0.3rem;
    display: block;
    text-align: center;
    color: $wildWatermelon;
    padding: 0.5rem 0;
    transition: background-color 0.1s, box-shadow 0.05s;
    span {
      font-weight: 500;
      margin-left: 0.75rem;
    }
    &:hover {
      background: $wildWatermelon;
      color: $offwhite;
    }
    &:active {
      box-shadow: 0 0 0 2px $offwhite;
    }
  }
}

@include breakpoint(md) {
  section.contact {
    position: relative;
    justify-content: center;
    .container {
      margin: 0 auto;
      width: 700px;
    }
    .message {
      font-size: 2rem;
      padding-top: 0;
    }
    .subtext {
      font-size: 1rem;
      font-weight: bold;
      position: absolute;
      padding-bottom: 2rem;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    ul {
      display: flex;
      width: 65%;
      margin: 2rem auto 0 auto;
      justify-content: space-around;
    }
    a {
      background: rgba($wildWatermelon, 0.1);
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      padding: 0;
      font-size: 1.5rem;
      line-height: 210%;
      span {
        display: none;
      }
    }

    /*Bottom Left Gizmo*/
    &::after {
      content: '';
      position: absolute;
      width: 84px;
      height: 111px;
      left: 0;
      bottom: 0;
      background: url(../img/gizmo.svg);
      z-index: 99;
    }
  }
}

@include breakpoint(xl) {
  section.contact {
    .container {
      width: 1000px;
    }
    .message {
      font-size: 2.8rem;
    }
    .subtext {
      font-size: 1.25rem;
    }
    a {
      line-height: 220%;
      font-size: 1.8rem;
      height: 3.8rem;
      width: 3.8rem;
    }
    &::after {
      width: 120px;
      height: 159px;
    }
  }
}
