#docsWorkshop {
    padding: 2.25rem;
    h2 {
      font-size: 2rem;
    }
  }
  
  .partners__grid {
    margin-top: 2.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8.75em, 1fr));
    row-gap: 1rem;
    column-gap: 1rem;
  }
  
  .partners__card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8em;
    box-sizing: border-box;
    width: 100%;
    height: 5.625em;
    .card__image {
      box-sizing: inherit;
      object-fit: contain;
      width: 6.875em;
      height: 80%;
    }
    &--sm {
      padding: 1.8em;
    }
    &--md {
      padding: 1.25em;
    }
    &--lg {
      padding: 0.8em;
    }
    transition: transform 150ms;
    &:hover {
      transform: translatey(-0.5rem);
    }
  }
  
  @include breakpoint("md") {
    #docsWorkshop {
      padding: 5rem 4rem;
      h2 {
        font-size: 2.5rem;
      }
    }
    .partners__grid {
      grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
      .partners__card {
        height: 6em;
      }
    }
  }
  
  @include breakpoint("lg") {
    #docsWorkshop {
      padding-left: 0;
      padding-right: 0;
    }
    .partners__container {
      width: 900px;
      margin: 0 auto;
    }
  }
  
  @include breakpoint("xl") {
    #docsWorkshop {
      .partners__container {
        width: 1200px;
        margin: 0 auto;
      }
    }
    .partners__grid {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 2rem;
      column-gap: 2rem;
      width: 100%;
      font-size: 1.5rem;
      .partners__card {
        height: 9rem;
        width: 100%;
      }
    }
  }
  