section#internship {
  height: auto; // change!

  // FLEX-BOX
  display: flex;
  flex-direction: column;
  padding: 2.25rem;

  .text {
    font-size: 1.25rem;
    line-height: 110%;
    align-self: center;
    h2 {
      font-size: 2rem;
      font-weight: 700;
      padding: 20px 0px;
    }
  }

  img {
    align-self: center;
    width: 250px;
    height: auto;
    padding: 1rem;
  }
}

@include breakpoint('md') {
  section#internship {
    // flex-direction: row-reverse;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    .text {
      margin: 0 auto;
      font-size: 1.4rem;
      h2 {
        font-size: 2.5rem;
      }
    }
    img {
      width: 17rem;
      height: auto;
      padding-top: 30px;
    }
  }
}

@include breakpoint('lg') {
  section#internship {
    padding: 0;
    width: 870px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include breakpoint('xl') {
  section#internship {
    flex-direction: row;
    width: 1200px;
    .text {
      margin-left: 3rem;
      font-size: 1.8rem;
    }
    img {
      width: 22rem;
    }
  }
}
