section#internship {
  box-sizing: border-box;
  height: auto; // change!
  padding: 2.25rem;
  // FLEX-BOX
  display: flex;
  flex-direction: column;

  .text {
    font-size: 1.1rem;
    line-height: 110%;
    width: 100%;
    align-self: center;
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      padding: 20px 0px;
    }
  }

  img {
    align-self: center;
    width: 250px;
    height: auto;
    padding: 1rem;
  }
}

@include breakpoint("md") {
  section#internship {
    padding: 0 5rem;
    justify-content: center;
    align-items: center;
    .text {
      font-size: 1.8rem;
      h2 {
        font-size: 2.5rem;
      }
    }
    img {
      width: 400px;
      height: auto;
      padding-top: 30px;
    }
  }
}

@include breakpoint("lg") {
  section#internship {
    .text {
      font-size: 1.7rem;
      width: 870px;
      h2 {
        font-size: 2.4rem;
      }
    }
  }
}

@include breakpoint("xl") {
  section#internship {
    flex-direction: column;
    .text {
      font-size: 2.5rem;
      width: 1000px;
      h2 {
        font-size: 3rem;
      }
    }
  }
}
