body {
  font-family: "Work Sans", sans-serif;
  background: $background;
  color: $offWhite;
}
a {
  text-decoration: none;
}
.text-royalBlue {
  color: $royalBlue;
}
.text-wildWatermelon {
  color: $wildWatermelon;
}
.font-bold {
  font-weight: 700;
}

/*BG*/
.b-royalBlue {
  background-color: #5f54dc;
}

.b-blackRussian {
  background-color: #1e1e24;
}

/*FC*/
.text-royalBlue {
  color: #5f54dc;
}

.text-wildWatermelon {
  color: #f45b69;
}

.text-roseWhite {
  color: #f7f4f3;
}
