body {
  font-family: 'Work Sans', sans-serif;
  background: $background;
  color: $offWhite;
}
a {
  text-decoration: none;
}
.text-royalBlue {
  color: $royalBlue;
}
.text-wildWatermelon {
  color: $wildWatermelon;
}
.font-bold {
  font-weight: 700;
}
