section#header.b-blackRussian
    header 
        .header__logo
            img(src="./assets/img/Logo.svg", alt="Workshop")
                    //- ___Navigation___
        
        .nav__desktop
            a.text-wildWatermelon(href="./#inicio") Inicio
            a(href="./#internship") Internship
            a(href="./#partners") Partners
            a(href="./#team") Nosotros
            a(href="./#docsWorkshop") Documentación
            a(href="./#contact") Contacto
            a.button.button--text(href="#fest2022") Fest 2022
        .nav__mobile
            .nav__rigth
                img(src="./assets/img/Burguer.svg", alt="Menu/Navegación")
            .overlay
                .overlay__content
                    .overlay__header 
                        .overlay__logo
                            img(src="./assets/img/Logo.svg", alt="Workshop")
                        .overlay__close 
                            img(src="./assets/img/Cross.svg", alt="Close button")
                    .overlay__links
                        a(href="./#inicio") Inicio
                        a(href="./#internship") Internship
                        a(href="./#partners") Partners
                        a(href="./#team") Nosotros
                        a(href="./#docsWorkshop") Documentación
                        a(href="./#contact") Contacto
                        a(href="#fest2022") Fest