@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Work Sans", sans-serif;
  background: #1e1e24;
  color: #f7f4f3; }

a {
  text-decoration: none; }

.text-royalBlue {
  color: #5f54dc; }

.text-wildWatermelon {
  color: #f45b69; }

.font-bold {
  font-weight: 700; }

/*BG*/
.bg-royalBlue {
  background-color: #5f54dc; }

.bg-darkCharcoal {
  background-color: #313137; }

.b-blackRussian {
  background-color: #1e1e24; }

/*FC*/
.text-royalBlue {
  color: #5f54dc; }

.text-wildWatermelon {
  color: #f45b69; }

.text-roseWhite {
  color: #f7f4f3; }

.button {
  -webkit-tap-highlight-color: transparent;
  background: rgba(244, 91, 105, 0.1);
  color: #f45b69;
  transition: background-color 0.1s, color 0.1s, box-shadow 0.05s;
  display: inline-block;
  cursor: pointer; }
  .button:hover {
    background: #f45b69;
    color: #f7f4f3; }
  .button:active {
    box-shadow: 0 0 0 2px #f7f4f3; }

.button--icon {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  text-align: center;
  line-height: 205%; }
  .button--icon i {
    font-size: 1em; }

.button--text {
  border-radius: 0.5em;
  padding: 0.3em 0; }
  .button--text span {
    font-size: 0.8em;
    margin-left: 0.5em;
    font-weight: 500; }
  .button--text i {
    font-size: 1em; }
  .button--text .bi::before {
    vertical-align: middle;
    line-height: normal; }

/*This class is added in the mobile_nav.js*/
.stop-scrolling {
  height: 100%;
  overflow: hidden; }

section#header {
  background-color: transparent;
  position: relative;
  z-index: 100; }
  section#header header {
    padding: 1.5rem 3rem 2.25rem 3rem;
    display: flex;
    justify-content: space-between; }
    section#header header .header__logo {
      display: flex;
      align-content: center; }
      section#header header .header__logo img {
        margin: auto 0;
        width: 30px;
        height: 30px; }
    section#header header .nav__desktop {
      display: none; }
    section#header header .nav__mobile {
      /*This class is added in the mobile_nav.js, it can't be change from this place 
      because it won't work -> You can create another nested structure
      */ }
      section#header header .nav__mobile .nav__rigth img {
        cursor: pointer;
        width: 30px;
        height: 30px; }
      section#header header .nav__mobile .overlay {
        overflow-y: auto;
        transform: translate(-120vw, 0);
        transition: 500ms ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #f45b69; }
        section#header header .nav__mobile .overlay .overlay__content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          height: 100%; }
          section#header header .nav__mobile .overlay .overlay__content .overlay__header {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 3rem 2.25rem 3rem; }
            section#header header .nav__mobile .overlay .overlay__content .overlay__header .overlay__close {
              cursor: pointer; }
            section#header header .nav__mobile .overlay .overlay__content .overlay__header img {
              margin: auto 0;
              width: 35px;
              height: 35px; }
          section#header header .nav__mobile .overlay .overlay__content .overlay__links {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            text-align: center;
            line-height: 2;
            padding: 2rem 3rem; }
            section#header header .nav__mobile .overlay .overlay__content .overlay__links a {
              font-size: 3rem;
              font-weight: 600;
              color: white; }
              section#header header .nav__mobile .overlay .overlay__content .overlay__links a:first-child {
                margin-top: auto; }
              section#header header .nav__mobile .overlay .overlay__content .overlay__links a:last-child {
                margin-bottom: auto; }
      section#header header .nav__mobile .active {
        display: block;
        transform: translate(0, 0); }

@media (min-width: 768px) {
  section#header header .nav__desktop {
    display: inline-flex; }
    section#header header .nav__desktop .button--text {
      padding: 1rem 1.2rem; }
  section#header header .nav__mobile {
    display: none; }
  section#header header a {
    padding: 1rem 1.2rem;
    border-radius: 0.85em;
    font-size: 0.9rem;
    font-weight: 600; }
    section#header header a:not(:first-child):not(:last-child) {
      color: white; }
    section#header header a:not(:last-child) {
      transition: 500ms ease-out; }
    section#header header a:not(:last-child):hover {
      transition: 500ms ease-out;
      transform: translateY(-5px); } }

@media (min-width: 1024px) {
  section#header header {
    margin: 0 auto; }
    section#header header a {
      padding: 1rem 1.5rem;
      font-size: 1rem; } }

@media (min-width: 1280px) {
  section#header header {
    max-width: 1150px; }
    section#header header a {
      padding: 1rem 1.5rem;
      font-size: 1.1rem; } }

section#main {
  box-sizing: border-box; }
  section#main .solid__Sally {
    display: none; }
  section#main .main__left {
    position: relative;
    padding: 8% 2rem 6rem 2rem;
    height: auto; }
    section#main .main__left .transparent__Sally {
      position: absolute;
      z-index: 0;
      right: 0.4rem;
      bottom: 0.5rem;
      width: 200px;
      height: auto;
      opacity: 0.1; }
    section#main .main__left .main__title {
      font-size: 3rem;
      font-weight: 600;
      padding: 20px 0; }
    section#main .main__left .main__message {
      font-size: 1rem;
      line-height: 1.2;
      margin-bottom: 25px; }
    section#main .main__left a {
      border-radius: 0.85em;
      padding: 15px 20px;
      font-weight: 700;
      -webkit-tap-highlight-color: transparent;
      background: rgba(65, 105, 225, 0.05);
      color: royalblue;
      transition: background-color 0.3s, color 0.3s, box-shadow 0.05s;
      display: inline-block; }
      section#main .main__left a:hover {
        background: royalblue;
        color: #f7f4f3; }
      section#main .main__left a:active {
        box-shadow: 0 0 0 2px #f7f4f3; }

@media (min-width: 768px) {
  section#main {
    margin: 0 2rem; }
    section#main .transparent__Sally {
      display: none; }
    section#main .main {
      display: flex;
      justify-content: space-between; }
      section#main .main .main__left {
        width: 50%; }
        section#main .main .main__left .main__title {
          font-size: 4rem; }
        section#main .main .main__left .main__message {
          font-size: 1.2rem;
          width: 95%; }
      section#main .main .solid__Sally {
        display: inline-flex;
        max-width: 250px;
        opacity: 1;
        transition: ease 0.4s;
        min-width: 200px;
        height: auto; }
        section#main .main .solid__Sally:hover {
          transition: ease 0.4s;
          transform: translate(0, -30px); } }

@media (min-width: 1024px) {
  section#main .main {
    padding: 6rem 0; }
    section#main .main .main__left .main__title {
      font-size: 5rem; }
    section#main .main .main__left .main__message {
      font-size: 1.3rem; }
    section#main .main .main__left a {
      font-size: 1.4rem; }
    section#main .main .solid__Sally {
      max-width: 300px; } }

@media (min-width: 1280px) {
  section#main .main {
    margin: 0 auto;
    width: 1100px; }
    section#main .main .main__left .main__title {
      font-size: 6rem; }
    section#main .main .main__left .main__message {
      font-size: 1.7rem; }
    section#main .main .solid__Sally {
      max-width: 350px; } }

#partners {
  padding: 2.25rem; }
  #partners h2 {
    font-size: 2rem; }

.partners__grid {
  margin-top: 2.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.75em, 1fr));
  row-gap: 1rem;
  column-gap: 1rem; }

.partners__card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8em;
  box-sizing: border-box;
  width: 100%;
  height: 5.625em;
  transition: transform 150ms; }
  .partners__card .card__image {
    box-sizing: inherit;
    object-fit: contain;
    width: 6.875em;
    height: 80%; }
  .partners__card--sm {
    padding: 1.8em; }
  .partners__card--md {
    padding: 1.25em; }
  .partners__card--lg {
    padding: 0.8em; }
  .partners__card:hover {
    transform: translatey(-0.5rem); }

@media (min-width: 768px) {
  #partners {
    padding: 5rem 4rem; }
    #partners h2 {
      font-size: 2.5rem; }
  .partners__grid {
    grid-template-columns: repeat(auto-fill, minmax(11em, 1fr)); }
    .partners__grid .partners__card {
      height: 6em; } }

@media (min-width: 1024px) {
  #partners {
    padding-left: 0;
    padding-right: 0; }
  .partners__container {
    width: 900px;
    margin: 0 auto; } }

@media (min-width: 1280px) {
  #partners .partners__container {
    width: 1200px;
    margin: 0 auto; }
  .partners__grid {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    width: 100%;
    font-size: 1.5rem; }
    .partners__grid .partners__card {
      height: 9rem;
      width: 100%; } }

section#internship {
  box-sizing: border-box;
  height: auto;
  padding: 2.25rem;
  display: flex;
  flex-direction: column;
  padding: 2.25rem; }
  section#internship .text {
    font-size: 1.25rem;
    line-height: 110%;
    align-self: center; }
    section#internship .text h2 {
      font-size: 2rem;
      font-weight: 700;
      padding: 20px 0px; }
  section#internship img {
    align-self: center;
    width: 250px;
    height: auto;
    padding: 1rem; }

@media (min-width: 768px) {
  section#internship {
    padding: 0 5rem;
    justify-content: center;
    align-items: center;
    padding: 5rem; }
    section#internship .text {
      margin: 0 auto;
      font-size: 1.4rem; }
      section#internship .text h2 {
        font-size: 2.5rem; }
    section#internship img {
      width: 17rem;
      height: auto;
      padding-top: 30px; } }

@media (min-width: 1024px) {
  section#internship {
    padding: 0;
    width: 870px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1280px) {
  section#internship {
    flex-direction: row;
    width: 1200px; }
    section#internship .text {
      margin-left: 3rem;
      font-size: 1.8rem; }
    section#internship img {
      width: 22rem; } }

section#team {
  padding: 2.25rem; }
  section#team h2 {
    font-size: 2rem;
    font-weight: 700; }
  section#team .team__list {
    margin-top: 2.25rem;
    display: none;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center; }

.card {
  background: #313137;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem; }
  .card .card__name {
    font-weight: 500; }
  .card .card__image {
    align-self: center;
    object-fit: cover;
    background: #8a8a8a;
    min-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; }

.card__right {
  display: flex;
  gap: 0.6rem;
  flex-direction: column; }

.card__description {
  display: flex;
  flex-direction: column;
  gap: 0.6rem; }

.card__role {
  background-color: rgba(244, 91, 105, 0.1);
  color: #f45b69;
  display: inline-flex;
  max-width: max-content;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 0.25em 0.5em;
  text-align: center;
  gap: 0.25em; }
  .card__role .bi {
    align-self: center; }

.card__contact {
  font-size: 0.75rem;
  display: flex;
  gap: 0.85rem; }

@media (min-width: 768px) {
  section#team {
    padding: 5rem 4rem; }
    section#team h2 {
      font-size: 2.5rem; }
    section#team .team__list {
      display: flex; }
      section#team .team__list .card {
        min-width: none;
        width: 270px; }
  #workshop-team-slider.splide {
    display: none; } }

@media (min-width: 1024px) {
  section#team {
    padding-left: 0;
    padding-right: 0; }
    section#team .team__list {
      display: flex; }
      section#team .team__list .card {
        width: 300px; }
  .team__container {
    width: 900px;
    margin: 0 auto; } }

@media (min-width: 1280px) {
  section#team .team__container {
    width: 1200px;
    margin: 0 auto; } }

#workshop-team-slider.splide ul {
  align-content: space-around; }
  #workshop-team-slider.splide ul li .container {
    max-width: 290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0 1rem; }

.splide {
  margin: 5rem 0; }

.splide__arrows {
  display: none; }

.splide__pagination {
  display: none !important; }

.contact {
  position: relative;
  padding: 2.25rem; }
  .contact .contact__header,
  .contact .contact__footer {
    display: none; }
  .contact .contact__message {
    font-size: 1.25rem;
    line-height: 1.25rem; }
  .contact .contact__linksList {
    margin: 2.25rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    max-width: 205px; }
    .contact .contact__linksList .item1 {
      justify-self: start; }
    .contact .contact__linksList .item2,
    .contact .contact__linksList .item3 {
      justify-self: center; }
    .contact .contact__linksList .item4 {
      justify-self: end; }
    .contact .contact__linksList .item5 {
      grid-column-start: 1;
      grid-column-end: 5; }
    .contact .contact__linksList .item6 {
      display: none; }
  .contact .button {
    font-size: 1.25rem; }
    .contact .button--text {
      width: 100%;
      text-align: center; }

@media (min-width: 768px) {
  .contact {
    height: 100vh;
    padding: 0 5rem; }
    .contact .contact__linksList {
      max-width: none; }
      .contact .contact__linksList .item6 {
        display: list-item; }
      .contact .contact__linksList .item5 {
        display: none; }
    .contact .contact__container {
      height: 100%;
      display: flex;
      flex-direction: column; }
    .contact .contact__header {
      display: block;
      flex: 1; }
    .contact .contact__footer {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: center; }
      .contact .contact__footer p {
        padding: 3rem 0; }
    .contact .contact__message {
      font-size: 1.8rem;
      line-height: 2rem; }
    .contact .contact__linksList {
      display: flex;
      justify-content: space-around;
      width: 400px;
      margin-bottom: 0; }
    .contact::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      background: url(../img/gizmo.svg);
      z-index: -99;
      width: 70px;
      height: 115.97633px; } }

@media (min-width: 1024px) {
  .contact .contact__container {
    width: 870px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1280px) {
  .contact .contact__container {
    width: 1000px; }
  .contact .contact__message {
    font-size: 2rem;
    line-height: 110%; }
  .contact .contact__linksList {
    width: 60%;
    margin-top: 3.75rem; }
    .contact .contact__linksList .button {
      font-size: 1.8rem; }
  .contact .contact__footer p {
    font-size: 1.25rem; }
  .contact::before {
    width: 100px;
    height: 165.68047px; } }

section#teamEgresados {
  padding: 2.25rem; }
  section#teamEgresados h2 {
    font-size: 2rem;
    font-weight: 700; }
  section#teamEgresados .team__list {
    margin-top: 2.25rem;
    display: grid;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center; }

.card {
  background: #313137;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem; }
  .card .card__name {
    font-weight: 500; }
  .card .card__image {
    align-self: center;
    object-fit: cover;
    background: #8a8a8a;
    min-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; }

.card__right {
  display: flex;
  gap: 0.6rem;
  flex-direction: column; }

.card__description {
  display: flex;
  flex-direction: column;
  gap: 0.6rem; }

.card__role {
  background-color: rgba(244, 91, 105, 0.1);
  color: #f45b69;
  display: inline-flex;
  max-width: max-content;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 0.25em 0.5em;
  text-align: center;
  gap: 0.25em; }
  .card__role .bi {
    align-self: center; }

.card__contact {
  font-size: 0.75rem;
  display: flex;
  gap: 0.85rem; }

@media (min-width: 768px) {
  section#teamEgresados {
    padding: 5rem 4rem; }
    section#teamEgresados h2 {
      font-size: 2.5rem; }
    section#teamEgresados .team__list {
      display: flex;
      max-width: none; }
      section#teamEgresados .team__list .card {
        min-width: none;
        width: 270px; }
  #workshop-egresados-slider.splide {
    display: none; } }

@media (min-width: 1024px) {
  section#teamEgresados {
    padding-left: 0;
    padding-right: 0; }
    section#teamEgresados .team__list {
      display: flex; }
      section#teamEgresados .team__list .card {
        width: 300px; }
  .team__container {
    width: 900px;
    margin: 0 auto; } }

@media (min-width: 1280px) {
  section#teamEgresados .team__container {
    width: 1200px;
    margin: 0 auto; } }

#workshop-egresados-slider.splide ul {
  align-content: space-around; }
  #workshop-egresados-slider.splide ul li .container {
    max-width: 290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0 1rem; }

.splide {
  margin: 5rem 0; }

.splide__arrows {
  display: none; }

.splide__pagination {
  display: none !important; }

#docsWorkshop {
  padding: 2.25rem; }
  #docsWorkshop h2 {
    font-size: 2rem; }

.partners__grid {
  margin-top: 2.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.75em, 1fr));
  row-gap: 1rem;
  column-gap: 1rem; }

.partners__card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8em;
  box-sizing: border-box;
  width: 100%;
  height: 5.625em;
  transition: transform 150ms; }
  .partners__card .card__image {
    box-sizing: inherit;
    object-fit: contain;
    width: 6.875em;
    height: 80%; }
  .partners__card--sm {
    padding: 1.8em; }
  .partners__card--md {
    padding: 1.25em; }
  .partners__card--lg {
    padding: 0.8em; }
  .partners__card:hover {
    transform: translatey(-0.5rem); }

@media (min-width: 768px) {
  #docsWorkshop {
    padding: 5rem 4rem; }
    #docsWorkshop h2 {
      font-size: 2.5rem; }
  .partners__grid {
    grid-template-columns: repeat(auto-fill, minmax(11em, 1fr)); }
    .partners__grid .partners__card {
      height: 6em; } }

@media (min-width: 1024px) {
  #docsWorkshop {
    padding-left: 0;
    padding-right: 0; }
  .partners__container {
    width: 900px;
    margin: 0 auto; } }

@media (min-width: 1280px) {
  #docsWorkshop .partners__container {
    width: 1200px;
    margin: 0 auto; }
  .partners__grid {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    width: 100%;
    font-size: 1.5rem; }
    .partners__grid .partners__card {
      height: 9rem;
      width: 100%; } }
