include includes/head.pug
    //- include header
    include includes/header.pug
    //- include main
    include includes/main.pug
    //- include partners
    include includes/partners.pug
    //- include internship
    include includes/internship.pug
    //- include team
    include includes/team.pug
    //- include former team members
    include includes/core.pug
    //- include contact
    include includes/contact.pug
    //- include scripts
    include includes/scripts.pug
    