@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

@import 'abstracts/variables';
@import 'abstracts/media-queries';

@import 'base/reset';
@import 'base/global';

@import 'components/button';

@import 'sections/partners';
@import 'sections/internship';
@import 'sections/teams';
@import 'sections/contact';
